# shared-app-daemon-scripts for RHEL8 /etc/systemd/system/tomcat_{{ user }}.service

[Unit]
Description=Apache Tomcat Application Server for {{ user }}
After=syslog.target network.target

[Service]
Type=forking

User={{ user }}
Group=tomcat

RuntimeDirectory={{ user }}
Environment="CATALINA_PID=/run/{{ user }}/pidfile"
PIDFile=/run/{{ user }}/pidfile

WorkingDirectory=/home/{{ user }}
ExecStart=/usr/local/bin/appDaemon/sapp-common start
TimeoutStartSec=960s
ExecStop=/usr/local/bin/appDaemon/sapp-common stop
TimeoutStopSec=300s

SuccessExitStatus=1
SuccessExitStatus=143
SuccessExitStatus=SIGTERM

[Install]
WantedBy=multi-user.target